@import 'navigation.css'; /* Use any of the css classes declared in this file by just importing it. */
@import 'index.css'; /* Use any of the css classes declared in this file by just importing it. */
@import 'cart.css';

#checkout-main {
  flex-direction: column;
  align-items: center;
}

.checkout-header-nav {
  padding: 10px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
}

.checkout-logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-title {
  display: flex;
  margin-bottom: -30px;
  align-items: center;
  justify-content: center;
}

.form-box {
  background-color: white;
  width: 60%;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  margin-left: 15px;
  padding: 15px;
  margin-bottom: 1%;
}

.tableheading3 {
  color: black;
  font-size: 2.25em;
}

.tableheading2 {
  color: black;
  font-size: 2em;
}

.checkoutbuttons {
  font-weight: bold;
  text-decoration: none;
  font-size: 100%;
  color: white;
  background-color: var(--primary-color);
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 40px;
  padding: 10px 24px;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  text-transform: uppercase;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.checkoutbuttons:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.tableheading1 {
  color: black;
  font-size: 1.25em;
}

.tableheading0 {
  color: black;
  font-size: 1em;
}

td.tableitem {
  color: black;
  font-size: 1.25em;
  width: 45%;
}

td.tablesubitem {
  color: black;
  font-size: 0.75em;
  text-align: right;
}

td.price {
  text-align: right;
}

.checktable {
  background-color: white;
  box-sizing: border-box;
  width: 75%;
}

.cartimg {
  height: 180px;
  width: 180px;
}

#checkout {
  background-color: white;
  width: 100%;
}

input {
  border: 2px solid var(--primary-color);
  color: #31925a;
  height: auto;
  background-color: white;
  border-radius: 4px;
  padding: 6px;
  margin-bottom: 1.2em;
  margin-top: 0.3em;
  width: 20%;
  resize: vertical;
  font-size: 90%;
  box-sizing: border-box;
}

.address {
  width: 50%;
}

input[type='number'] {
  width: 10%;
}

.cart-link{
  color: #70c5d4;
  text-decoration: none;
}

.cart-link:hover {
  text-decoration: underline;
}

#product-final {
  display: flex;
  flex-direction: column;
}

.done {
  float: right;
  margin-left: auto;
  margin-right: 0;
  right: 0px;
}
