@import "navigation.css";  /* Use any of the css classes declared in this file by just importing it. */

.plant-category {
    margin-left: 20px;
}

.product-container {

}

.product-img {
    border-radius: 5px;
    transition-property: box-shadow;
    transition-duration: .35s;
}

.product-img:hover {
    box-shadow: 0px 0px 5px rgb(0, 48, 14);
}

.product-description-container {
    display: flex;
    background-color: "lavender";
    flex-direction: row;
    
}