@import "navigation.css";

input:valid:focus {
    border: 2px solid black;
}

input:invalid:focus {
    border: 2px dotted red;
}

h2 {
    font-weight: bold;
    text-align: center;
    line-height: 1.5em;
}

h3 {
    font-weight: bold;
    text-align: left;
    line-height: 1.5em;
}

p {
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 1.2em;
    margin-top: 0.2em;
}

.flex-container{
    border: 2px solid var(--primary-color);
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    justify-content: center;
    align-content: center;
    padding-left: 6%;
    padding-right: 6%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
  

.flex-content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.login-input, .sign-up-input, .sysPref-input{
    border: 2px solid var(--primary-color);
    color: #31925a;
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 1.2em ;
    margin-top: 0.3em;
    width: 100%;
    font-size: 90%;
}

.sysPref-input {
    background-color: white;
}

.sign-up-input:focus, .sysPref-input:focus, .login-input:focus{
    border-color: var(--focus-color);
    box-shadow: inset 0 1px 1px var(--focus-color),
    0 0 8px black;
    outline: none;
}

.login-signup-buttons, .sysPref-button{
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 100%;
    color: white;
    background-color: var(--primary-color);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 40px;
    padding: 10px 24px;
    margin-top: .7em;
    margin-bottom: .7em;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
    box-shadow: 0px 6px 10px rgba(0,0,0,0.3);
    transform: translateY(-4px);
    position: relative;
}

.login-signup-buttons:hover, .sysPref-button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.foot-links{
    margin-bottom: 17px;
    text-align: center;
    color: #007bff;
    text-decoration: none;
}

.sysPref-email {
    background-color: #eae4e4;
}