* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #254733;
  --secondary-color: #fdfadf;
  --focus-color: #fff47f;
  --hover-color: #fbf5b8;
  --inactive-color: #cdcdcd;
  --primary-color-opac: #527a62;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--secondary-color);
}

/* wrapping the whole body-content in a container */
.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  /* overflow: hidden; */
  display: block;
  position: relative;
  padding-bottom: 60px; /* height of your footer */
}

.all-links-text-decoration {
  text-decoration: none;
}

.header-nav {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
}

/* sub-divs of the navbar */
.logo-div,
.nav-link-div,
.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-link {
  text-decoration: none;
}

#org-name {
  display: inline;
  text-align: center;
  color: white;
  font-size: xx-large;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.all-nav-btns {
  height: 37px;
  background-color: var(--secondary-color);
  border-radius: 6px;
  cursor: pointer;
}

.all-nav-btns:hover {
  box-shadow: 0 3px 8px 0 white;
  background-color: var(--hover-color);
}

/* Search div */
.nav-icons {
  color: var(--primary-color);
  font-weight: 700;
}
.category-dropdown {
  width: 110px;
  height: 35px;
  font-size: 14px;
  display: inline-block;
  line-height: 1.5;
  color: slategrey;
  border-radius: 0.25rem;
  text-align: center;
  background-color: white;
}
.search-input {
  width: 260px;
  height: 35px;
  font-size: 14px;
  border: 1px solid var(--hover-color);
  border-radius: 0.25rem;
}
/* focus color */
.search-input:focus,
.category-dropdown:focus {
  border: 2px solid var(--focus-color);
  box-shadow: inset 0 1px 1px var(--focus-color), 0 0 8px var(--focus-color);
  outline: none; /* To remove black border on focus for input fields*/
}

/* Nav links */
.nav-links {
  margin: 13px;
  text-align: center;
}
#nav-link-name {
  display: inline;
  text-align: center;
  color: white;
}

/* Footer */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  background: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: small;
}
.footer p span {
  font-size: medium;
}

.navbar-iframe {
  width: 100%;
  position: sticky;
  top: 0;
  height: 5rem;
}
/* for tablets and mobile widths*/
@media (max-width: 1063px) {
  .navbar-iframe {
    height: 9rem;
  }
}
@media (max-width: 768px) {
  .navbar-iframe {
    height: 11rem;
  }
}
.footer-iframe {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px; /* Height of the footer */
}

.ads-iframe {
  height: 35%;
}
