* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* wrapping the whole body-content in a container */
.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  /* overflow: hidden; */
  display: block;
  position: relative;
  padding-bottom: 60px; /* height of your footer */
}

.all-links-text-decoration {
  text-decoration: none;
}

.header-nav {
  background-color: #254733;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
}

/* sub-divs of the navbar */
.logo-div,
.nav-link-div,
.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-link {
  text-decoration: none;
}

#org-name {
  display: inline;
  text-align: center;
  color: white;
  font-size: xx-large;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.all-nav-btns {
  height: 37px;
  background-color: #fdfadf;
  border-radius: 6px;
  cursor: pointer;
}

.all-nav-btns:hover {
  box-shadow: 0 3px 8px 0 white;
  background-color: #fbf5b8;
}

/* Search div */
.nav-icons {
  color: #254733;
  font-weight: 700;
}
.category-dropdown {
  width: 110px;
  height: 35px;
  font-size: 14px;
  display: inline-block;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.search-input {
  width: 260px;
  height: 35px;
  font-size: 14px;
  border: 1px solid #fbf5b8;
  border-radius: 0.25rem;
}
/* focus color */
.search-input:focus, .category-dropdown:focus{
  border: 2px solid #fff47f;
  box-shadow: inset 0 1px 1px #fff47f,
    0 0 8px #fff47f;
    outline: none; /* To remove black border on focus for input fields*/
}

/* Nav links */
.nav-links {
  margin: 13px;
  text-align: center;
}
#nav-link-name {
  display: inline;
  text-align: center;
  color: white;
}

/* Footer */
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px; /* Height of the footer */
  background: #254733;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: small;
}
.footer p span {
  font-size: medium;
}
