#product-info-container {
   margin-left: 1%;
}

#product-info {
   display: flex;
   flex-direction: column;
}

#product-info-price {
   margin-bottom: 5px;
}

#product-info-description-container {
   display: flex;
}

#product-info-background-button-container {
   width: 300px;
   height: 220px;
   background-color: white;
   border: 2px solid rgb(117, 117, 117);
   padding: 10px;
   margin-left: 10px;
}

#product-info-description-background {
   /* margin: px 0; */
  display: flex;
  flex-direction: column;
}

#product-info-button {
   width: 325px;
   height: 40px;
   margin-top: 10px;
   border: 3px solid #3e7555;
   background-color: rgb(235, 213, 174);
   margin-left: 10px;
}

#product-info-button:active {
   border: 3px solid #254733;
   background-color: rgb(235, 213, 174);
}